.customizableTitle {
  --contact-title-font-size: 2rem;
}

.contactSection {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.contactContent {
  margin: 0 auto;
  max-width: 600px;
}

.contactTitle {
  font-size: 50px;
  color: #555555;
  margin-bottom: 10px;
  font-weight: bold;
}

.separator {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.contactContent p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.button {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffffff00;
  color: rgb(75, 75, 75);
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #b9b9b98e;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}