.signupSection {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
  }
  
  .signupSection h2 {
    margin-bottom: 10px;
  }
  
  .signupSection p {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex-grow: 1;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0066ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #afafaf71;
  }