.main {
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .main h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .main p {
    font-size: 1rem;
    color: #333;
  }