.socialSection {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 40px; /* Espaçamento superior para separar da seção anterior */
  }
  
  .socialSection h2 {
    margin-bottom: 20px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon img {
    width: 40px;
    height: 40px;
  }